@model E1.Web.Models.PersonSearchViewModel

@{
    ViewData["Title"] = "Search results";
}

<h1>@ViewBag.Title</h1>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Creation date</th>
            <th>Group</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.CreatedTimestamp</td>
                <td>@person.GroupName</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<p>
    <a asp-action="Index" asp-controller="Home">Back to homepage</a> |
    <a asp-action="Add">Add person</a>
</p>
